body {
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	background-color:thistle;
}

.header-container {
	display: flex;
    position: relative;
  	justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 50px;
  	padding: 5px 0 5px 20px;
}

.logo {
	background-image: url('assets/favicon.ico');
	background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
	height: 40px;
	transition: 0.3s;
	cursor: pointer;
}

.logo:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
	contrast(87%);
}

.switch-buttons{
	padding-right: 20px;
}

.button-len {
	background: none;
  	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	color:darkmagenta;
	cursor: pointer;
	transition: 0.3s;
}

.button-len:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
	contrast(87%);
}

.slash {
	color:darkmagenta; 
}

.active {
	color: #000;
	background-color: #bdae82;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 40px;
	max-width: 1920px;
	height: calc(100vh - 130px);
	font-size: 30px;
	color:darkmagenta;
}
 
.button-quote {
	width: 320px;
	height: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	background-color:white;
	color:darkmagenta;
	cursor: pointer;
	transition: 0.3s;
}

.button-quote:hover {
	color: white;
    background: hsl(10, 26%, 57%);
}

.footer-container {
    display: flex;
	justify-content: space-between;
	max-width: 1920px;
	padding: 5px 20px;
}

.footer-data {
	display: flex;
	padding-top: 12px;
	gap: 20px;
}

.icon {
	background-image: url('assets/svg/icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
	padding: 0 10px;
	width: 5px;
}

.github {
	text-decoration: none;
    color: white;
	transition: 0.3s;
}

.github:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
	  contrast(87%);
}

.rss-link {
	display: flex;
	background-image: url('assets/svg/rss.svg');
	background-size: contain;
    background-repeat: no-repeat;
	width: 105px;
	height: 40px;
	transition: 0.3s;
}

.rss-link:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
	  contrast(87%);
}